body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:850px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:800px;
  height:1300px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:1300px;
}
#u1 {
  position:absolute;
  left:2px;
  top:642px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:1610px;
  width:360px;
  height:231px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:231px;
}
#u3 {
  position:absolute;
  left:2px;
  top:108px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:76px;
  top:68px;
  width:330px;
  height:19px;
  font-family:'PingFang SC';
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:50px;
  top:1430px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:90px;
  top:1433px;
  width:550px;
  height:22px;
  font-family:'PingFang SC';
  font-size:18px;
  color:#222222;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:22px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  word-wrap:break-word;
}
