body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1130px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:20px;
  width:790px;
  height:600px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:600px;
}
#u1 {
  position:absolute;
  left:2px;
  top:292px;
  width:786px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:30px;
  width:140px;
  height:50px;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:16px;
  width:136px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:250px;
  top:40px;
  width:110px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:390px;
  top:40px;
  width:110px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:530px;
  top:40px;
  width:110px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:670px;
  top:40px;
  width:110px;
  height:40px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:210px;
  top:120px;
  width:580px;
  height:480px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:480px;
}
#u13 {
  position:absolute;
  left:2px;
  top:232px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:360px;
  top:185px;
  width:315px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#999999;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u15 {
  position:absolute;
  left:360px;
  top:240px;
  width:160px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u16 {
  position:absolute;
  left:300px;
  top:190px;
  width:50px;
  height:16px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:290px;
  top:244px;
  width:60px;
  height:16px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:540px;
  top:240px;
  width:90px;
  height:25px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
}
#u21 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:640px;
  top:240px;
  width:35px;
  height:25px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
}
#u23 {
  position:absolute;
  left:2px;
  top:4px;
  width:31px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:418px;
  top:310px;
  width:122px;
  height:30px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:570px;
  top:310px;
  width:100px;
  height:30px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:830px;
  top:180px;
  width:300px;
  height:208px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:208px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
