body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:870px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:170px;
  top:60px;
  width:700px;
  height:180px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:180px;
}
#u1 {
  position:absolute;
  left:2px;
  top:82px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:530px;
  top:137px;
  width:100px;
  height:18px;
  color:#0000FF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:241px;
  top:92px;
  width:149px;
  height:22px;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:22px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:208px;
  top:117px;
  width:620px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:603px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:620px;
  height:1px;
}
#u7 {
  position:absolute;
  left:241px;
  top:137px;
  width:279px;
  height:18px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:18px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:170px;
  top:300px;
  width:700px;
  height:240px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:240px;
}
#u10 {
  position:absolute;
  left:2px;
  top:112px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:241px;
  top:332px;
  width:149px;
  height:22px;
  font-size:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:22px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:208px;
  top:357px;
  width:620px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:603px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:620px;
  height:1px;
}
#u14 {
  position:absolute;
  left:241px;
  top:377px;
  width:279px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:720px;
  top:339px;
  width:100px;
  height:18px;
  color:#0000FF;
  text-align:right;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:241px;
  top:420px;
  width:65px;
  height:45px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:45px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:241px;
  top:465px;
  width:129px;
  height:45px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:208px;
  top:624px;
  width:510px;
  height:196px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:196px;
}
#u23 {
  position:absolute;
  left:2px;
  top:90px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:241px;
  top:760px;
  width:120px;
  height:31px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u25 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:231px;
  top:654px;
  width:467px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:450px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:467px;
  height:1px;
}
#u27 {
  position:absolute;
  left:236px;
  top:636px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Light', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:686px;
  top:640px;
  width:12px;
  height:14px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u30 {
  position:absolute;
  left:2px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:241px;
  top:682px;
  width:279px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:18px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:241px;
  top:722px;
  width:100px;
  height:18px;
}
#u34 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u33_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u35 {
  position:absolute;
  left:360px;
  top:722px;
  width:100px;
  height:18px;
}
#u36 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u35_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u37 {
  position:absolute;
  left:500px;
  top:722px;
  width:100px;
  height:18px;
}
#u38 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u37_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
