body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:36px;
  width:400px;
  height:72px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:72px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:170px;
  width:200px;
  height:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:18px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
