body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:800px;
  height:547px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:547px;
}
#u1 {
  position:absolute;
  left:2px;
  top:266px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:640px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:90px;
  top:643px;
  width:460px;
  height:22px;
  font-family:'PingFang SC';
  font-size:18px;
  color:#222222;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:22px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:630px;
  top:100px;
  width:80px;
  height:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:730px;
  top:80px;
  width:110px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#0000FF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
}
#u9 {
  position:absolute;
  left:2px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:750px;
  top:102px;
  width:90px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:750px;
  top:131px;
  width:90px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:750px;
  top:160px;
  width:90px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:750px;
  top:189px;
  width:90px;
  height:30px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:860px;
  top:84px;
  width:220px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
