body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:870px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:190px;
  top:70px;
  width:680px;
  height:1070px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:1070px;
}
#u1 {
  position:absolute;
  left:2px;
  top:527px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:220px;
  width:110px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:40px;
  top:100px;
  width:110px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:40px;
  top:60px;
  width:110px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:708px;
  top:86px;
  width:120px;
  height:31px;
  font-family:'Arial-BoldMT', 'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:50px;
  top:160px;
  width:90px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:50px;
  top:130px;
  width:90px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:50px;
  top:190px;
  width:90px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:241px;
  top:144px;
  width:77px;
  height:18px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:18px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:218px;
  top:184px;
  width:100px;
  height:18px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:241px;
  top:92px;
  width:80px;
  height:22px;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:208px;
  top:117px;
  width:620px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:603px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:620px;
  height:1px;
}
#u23 {
  position:absolute;
  left:328px;
  top:144px;
  width:152px;
  height:18px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:18px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:328px;
  top:184px;
  width:60px;
  height:18px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
