body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:834px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:140px;
  top:80px;
  width:520px;
  height:620px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:620px;
}
#u1 {
  position:absolute;
  left:2px;
  top:302px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:200px;
  top:144px;
  width:70px;
  height:19px;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:510px;
  top:144px;
  width:100px;
  height:16px;
  font-size:16px;
  text-decoration:underline;
  text-align:right;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:200px;
  top:214px;
  width:70px;
  height:16px;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:200px;
  top:267px;
  width:70px;
  height:16px;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:200px;
  top:320px;
  width:70px;
  height:16px;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:280px;
  top:210px;
  width:330px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u13 {
  position:absolute;
  left:280px;
  top:263px;
  width:330px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u14 {
  position:absolute;
  left:280px;
  top:316px;
  width:330px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u15 {
  position:absolute;
  left:308px;
  top:356px;
  width:300px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:280px;
  top:357px;
  width:20px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u18 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:280px;
  top:410px;
  width:334px;
  height:30px;
  font-size:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:6px;
  width:330px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:670px;
  top:316px;
  width:164px;
  height:48px;
  color:#FF0000;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:48px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:670px;
  top:210px;
  width:164px;
  height:48px;
  color:#FF0000;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:48px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:280px;
  top:288px;
  width:330px;
  height:20px;
  color:#999999;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:20px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:326px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:357px;
  top:30px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
