body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:850px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:50px;
  width:800px;
  height:250px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:250px;
}
#u1 {
  position:absolute;
  left:2px;
  top:117px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:76px;
  top:64px;
  width:330px;
  height:19px;
  font-family:'PingFang SC';
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:19px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
